@import "fonts.css";
@import "base.css";
@import "header-footer.css";
@import "bricks.css";

/*------------------------*/
/* theme colors
/*------------------------*/

:root {
    --textDark: #050D1C;
    --textMedium: #050d1cba;
    --borderMedium: #040d1338;
    --borderLight: #2D434E;
    --accent: #194C67;
    --textAccent: #34547C;
    --light: #050d1c0c;
}

/*------------------------*/
/* turn grayscale off
/*------------------------*/

img {filter: grayscale(0);}

/*------------------------*/
/* colorize_image
/*------------------------*/

.colorize_image {filter: contrast(1) sepia(1) hue-rotate(160deg) grayscale(0.8)!important;}

/*------------------------*/
/* black_2_textDark
/*------------------------*/

.map::after, .black_2_textDark {filter: contrast(0.7) sepia(1) hue-rotate(160deg)!important;}

/*------------------------*/
/* black_2_textMedium
/*------------------------*/

.black_2_textMedium {filter: contrast(0.3) sepia(0.3) hue-rotate(160deg) brightness(1.4)!important;}

/*------------------------*/
/* black_2_accent
/*------------------------*/

.black_2_accent {filter: invert(45%) sepia(65%) saturate(299%) hue-rotate(352deg) brightness(92%) contrast(89%);}

/*------------------------*/
/* notice
/*------------------------*/

.notice {
    --root-color:#444;
    --root-background:#eff;
    --title-color:#ffffff; 
    --title-background:#7bd; 
    --warning-title:#c33; 
    --warning-content:#fee; 
    --info-title:#fb7; 
    --info-content:#fec; 
    --note-title:#6be; 
    --note-content:#e7f2fa; 
    --tip-title:#5a5; 
    --tip-content:#efe}

.notice{padding:18px;line-height:24px;margin-bottom:24px;border-radius:4px;color:var(--root-color);background:var(--root-background)}
.notice p:last-child{margin-bottom:0}
.notice-title{margin:-18px -18px 12px;padding:4px 18px;border-radius:4px 4px 0 0;font-weight:700;color:var(--title-color);color:var(--title-color);background:var(--title-background)}
.notice.warning .notice-title{background:var(--warning-title)}
.notice.warning{background:var(--warning-content)}
.notice.info .notice-title{background:var(--info-title)}
.notice.info{background:var(--info-content)}
.notice.note .notice-title{background:var(--note-title)}
.notice.note{background:var(--note-content)}.notice.tip .notice-title{background:var(--tip-title)}.notice.tip{background:var(--tip-content)}.icon-notice{display:inline-flex;align-self:center;margin-right:8px}
