<ul class="grid people">
    {{- range (index page.Site.Data page.Site.Language.Lang).people -}}
        <li>
            <div class="box">
            <div class="img" onclick="document.location.href='{{ .website }}';" style="cursor: pointer;"><img src="{{ .image }}" alt="{{ .name }}" style="cursor: pointer;" onclick="document.location.href='\/posts\/livro-atendimento-banc%C3%A1rio\/';" /></div>
            <h3>{{- .name -}}</h3>
            <div class="function">{{- .function | safeHTML -}}</div>
            <p>{{- .description | safeHTML -}}</p>
            <ul class="buttons"> 
                {{- if .phone -}}
                    <li><a href="https://wa.me/{{ replace .phone_code ` ` `` }}" class="button icon"><img src="/img/whatsapp.svg" alt="{{ .phone }}" /></a></li>
                {{- end -}}
                {{- if .email -}}
                    <li><a href="mailto:{{ .email }}" class="button icon"><img src="/img/email.svg" alt="{{ .email }}" /></a></li>
                {{- end -}}
                {{- if .linkedin -}}
                    <li><a href="{{ .linkedin }}" class="button icon" target="_blank"><img src="/img/linkedin.svg" alt="{{ .linkedin }}" /></a></li>
                {{- end -}}
                {{- if .website -}}
                    <li><p><a href="{{ .website }}" class="button">Saiba Mais</a></p>
                    </li> 
                {{- end -}}
            </ul>
            </div>
        </li>
    {{- end -}}
</ul>